* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* Aligner les éléments horizontalement */
  align-items: center;
}

.navbar .logo img {
  height: 100px; /* Ajuster la taille de l'image selon vos besoins */
}

.navbar nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Utilisation de flexbox */
}

.navbar nav ul li {
  margin-right: 60px;
}

.navbar nav ul li:last-child {
  margin-right: 0;
}

.navbar nav ul li a {
  color: #fff;
  text-decoration: none; 
}/* la couleur de different element en lien acceuil etc  */

.navbar nav ul li a:hover {
  color: #ccc; /* Changer la couleur au survol selon vos préférences */
}

h2 {
  margin-bottom: 70px;
}

.rectangle {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 100px;
  padding: 20px;
  margin-right: 20px;
  width: calc((100% - 40px) / 3); /* Répartir en 3 colonnes avec marges */
  display: inline-block;
  vertical-align: top;
}

.rectangle h2 {
  margin-bottom: 10px;
}

.rectangle p {
  margin-bottom: 0;
}
.rectangle {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 10px; /* Ajuster le rayon de la bordure selon vos préférences */
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px; /* Espacement entre les rectangles */
  width: calc((100% - 40px - 40px) / 3); /* Répartir en 3 colonnes avec marges */
  display: inline-block;
  vertical-align: top;
}

.rectangle:last-child {
  margin-right: 0; /* Aucun espacement à droite pour le dernier rectangle */
}
.navbar nav ul li a {
    color: #fff; /* Couleur des liens en blanc */
    text-decoration: none;
	  padding: 10px 20px; /* Espacement intérieur */
 
}


body {body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

      /*background-image: url('https://img.freepik.com/photos-gratuite/salle-sport-halteres-au-sol_1340-37013.jpg?w=1060&t=st=1709676703~exp=1709677303~hmac=979fb7960c2b8c3a9d448720ccf0ca26a9f7caa8701c097693c8c885e5186765'); /* Remplacez 'background.jpg' par le chemin de votre image */
     /* background-size: cover; /* Ajuste la taille de l'image pour couvrir l'ensemble de la page */
     /* background-repeat: no-repeat; /* Empêche la répétition de l'image
 }